# Prefer r8125-dkms
# CONFIG_R8125 is not set

# Prefer rtkbt-dkms
# CONFIG_BT_HCIBTUSB_RTLBTUSB is not set

# Disable pgdrv
# CONFIG_REALTEK_PGTOOL is not set

# Prefer 8852bu-dkms
# CONFIG_RTL8852BU is not set

# Prefer 8852be-dkms
# CONFIG_RTL8852BE is not set

# Temporary fix for missing cpufreq problem on ROCK 5B
CONFIG_SPI_ROCKCHIP=y
CONFIG_ROCKCHIP_THERMAL=y
CONFIG_CPUFREQ_DT=y
CONFIG_ARM_ROCKCHIP_CPUFREQ=y

# Prefer rtw89-dkms
# CONFIG_RTW89 is not set
# CONFIG_RTW89_8852BE is not set

# Disable r8169
# CONFIG_R8169 is not set
