[submodule "linux/latest/0001-manjaro-linux"]
	path = linux/latest/0001-manjaro-linux
	url = https://gitlab.manjaro.org/manjaro-arm/packages/core/linux.git
[submodule "linux/.stable-6.6/0001-manjaro-linux"]
	path = linux/.stable-6.6/0001-manjaro-linux
	url = https://gitlab.manjaro.org/manjaro-arm/packages/core/linux.git
