[submodule "linux/rockchip/0200-panfork"]
	path = linux/rockchip/0200-panfork
	url = https://gitlab.com/panfork/rk3588-implicit-sync.git
[submodule "linux/latest/0001-manjaro-linux"]
	path = linux/latest/0001-manjaro-linux
	url = https://gitlab.manjaro.org/manjaro-arm/packages/core/linux.git
